.App{
    margin-top: 100px;
}

.collection-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 50%;
}

.todo-done{
    text-decoration: line-through;
}